$def-p: 2rem;
@import '../../variables.scss';

.footer {
    background: $gray-100;
    padding: $def-p;
    position: absolute;
    bottom: 0;
    width: 100%;
    &::before {
        content:'';
        position: absolute;
        left: -2rem;
        top: 0;
        width: calc(100% + 4rem);
        border-top: 1px solid $gray-400;
    }
}