@import '../../variables.scss';

form {
  input {
    margin: auto auto 0.75rem auto;
    display: block;
    padding: $base * 2;

    &[type=submit] {
      padding: $base * 2 $base * 4;
      background: $gray-200;
      border: $base * .5 solid transparent;
      width: 286px;
      font: 1rem/1rem 'IBM Plex Sans';
      border-radius: 6px;

      &:hover {
        border-color: $gray-400;
      }

      &:active {
        background: $gray-400;
      }

      &:focus {
        outline: $base * .5 solid $gray-600;
      }

      &:disabled {
        background: rgba($gray-300, .5);

        &:hover {
          border: $base * .5 solid transparent;
        }
      }

      &.accent {
        background: $accent;
        color: white;
    
        &:hover {
          border-color: darken($accent, 10);
        }
    
        &:active {
          background: darken($accent, 10);
        }
        
        &:focus {
          outline: $base * .5 solid darken($accent, 20);;
        }
        &:disabled {
          background: rgba($gray-300, .5);
          color: rgba($gray-600, .5);
  
          &:hover {
            border: $base * .5 solid transparent;
          }
        }
      }
    }    
    
    &[type=checkbox] {
      display: block;
      margin-top: $base * 3;
      padding: $base * 2;
      width: $base * 4;
      height: $base * 4;

      label {
          display: inline-block;
      }
    }
  }
  select {
    padding: $base * 2;
  }

  p {
    padding: $base;
    background: $gray-200;
    margin-right: $base * 3;
  }
}