$card-bg: white;
$def-m: 1;
@import '../mixins.scss';
@import '../variables.scss';

.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 't t'
                         'l r';
    grid-gap: $def-m * 2 + rem;
    margin: $def-m * 2 + rem;

    & div {
        grid-area: t;
    }
}

.content {
    padding: $def-m * 2 + rem;
    background: $card-bg;
    @include round;
}

.arrow {
  &::before {
    @include triangle(right);
  }    
}