@import '../../variables.scss';

.navigation {
    ul{
        text-align: center;
        li {
            display: inline-block;
            padding: $base ($base * 2);
            a:hover {
                color: $accent;
            }
        }
    }
}