@import '../../variables.scss';

.product {
  h2, h4, p {
    line-height: $base * 8.5;
  }
  img {
    width: 180px;
  }
}

.card {
  position: relative;
  background: white;
  margin: auto;
  margin-bottom: $base * 5;
}

input[type=button] {
  padding: $base * 1.25 $base * 3;
  border: $base * .5 solid transparent;
  background: $gray-200;
  font: 1rem 'IBM Plex Sans';
  &:hover {
    border-color: $gray-400;
  }
  &:active {
    background: $gray-400;
  }
  &:focus {
    outline: $base * .5 solid $gray-600;
  }
}