@import './variables.scss';


@mixin round( $rad: 10 ) {
  border-radius: $rad + px;
}

@mixin triangle($direction) {
  content: '';
  position: absolute;
  border: $arrow-thick solid transparent;
  margin-top: 28px;
  margin-left: -18px;
  @if $direction == up {
      border-top: $arrow-thick solid $gray-500;
      margin-top: 36px;
      margin-left: -18px;
  }
  @if $direction == down {
      border-bottom: $arrow-thick solid $gray-500;
      margin-top: 20px;
      margin-left: -18px;
  }
  @if $direction == left {
      border-left: $arrow-thick solid $gray-500;
      margin-top: 28px;
      margin-left: -18px;
  }
  @if $direction == right {
    border-right: $arrow-thick solid $gray-500;
    margin-top: 28px;
    margin-left: -30px;
}
}